/* You can add global styles to this file, and also import other style files *//* You can add global styles to this file, and also import other style files */
body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpoDXStCt7oLh_ivCgHVA-BZXsryejAwu_Sw&usqp=CAU');
    background-attachment: fixed;
    background-size: 100% 100%;
}